@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}

.sider::-webkit-scrollbar {
  width: 0px;
}

.sider::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.sider {
  scrollbar-width: thin;
}

.sider::-moz-scrollbar {
  width: 0px;
}

.sider::-moz-scrollbar-thumb {
  background-color: transparent;
}
