@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

::-moz-scrollbar {
  width: 5px;
}

::-moz-scrollbar-thumb {
  background-color: gray;
}

.player.dark div:first-of-type {
  background-color: #001529;
}

.player.dark * {
  color: white !important;
}

.player.dark .slider__thumb,
.player.dark .volume__thumb {
  background-color: white !important;
}

/* spotify web player custom styles */
@media (max-width: 768px) {
  .rswp__active {
    height: 64px !important;
    min-height: 0px !important;
  }

  .rswp__active div:first-child {
    min-height: 0px !important;
  }

  .rswp__active a {
    width: 54px !important;
    height: 54px !important;
    min-height: initial !important;
    min-width: initial !important;
  }

  .rswp__active img {
    width: 54px !important;
    height: 54px !important;
  }

  .rswp__active p:last-child {
    display: none;
  }

  .__1c53jt9 {
    min-height: initial !important;
  }
}
