.grid-cols {
  display: grid;
  grid-template-columns: 20% 80%;
}

.grid-cols-search {
  display: grid;
  grid-template-columns: 15% 85%;
}

.added-at-col {
  display: none;
}

.album-name {
  display: none;
}

.song-duration {
  display: none;
}

.duration {
  display: none;
}

.search-grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.5fr 100%;
  grid-template-areas:
    "artist tracks"
    "albums tracks";
  gap: 1rem;
}

.artist-container {
  grid-area: artist;
}

.albums-container {
  grid-area: albums;
}

.tracks-container {
  grid-area: tracks;
}

.albums-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

@media (min-width: 600px) {
  .grid-cols {
    grid-template-columns: 10% 75% 15%;
  }

  .grid-cols-search {
    grid-template-columns: 5% 80% 15%;
  }

  .added-at-col {
    display: none;
  }

  .album-name {
    /* display: initial; */
  }

  .song-duration {
    display: initial;
  }

  .duration {
    display: initial;
  }
}

@media (min-width: 768px) {
  .grid-cols {
    grid-template-columns: 5% 45% 35% 15%;
  }

  .grid-cols-search {
    grid-template-columns: 5% 80% 15%;
  }

  .added-at-col {
    display: none;
  }

  .album-name {
    display: initial;
  }

  .song-duration {
    display: initial;
  }
}

@media (min-width: 1000px) {
  .grid-cols {
    grid-template-columns: 5% 35% 30% 15% 10%;
  }

  .grid-cols-search {
    grid-template-columns: 5% 45% 40% 10%;
  }

  .album-name {
    display: initial;
  }

  .added-at-col {
    display: initial;
  }
}
