.grid-cols {
  display: grid;
  grid-template-columns: 5% 85% 5%;
}

.added-at-col {
  display: none;
}

.album-name {
  display: none;
}

@media (min-width: 768px) {
  .grid-cols {
    grid-template-columns: 5% 45% 35% 15%;
  }

  .added-at-col {
    display: none;
  }

  .album-name {
    display: initial;
  }
}

@media (min-width: 1000px) {
  .grid-cols {
    grid-template-columns: 5% 35% 30% 15% 10%;
  }

  .added-at-col {
    display: initial;
  }
}
