@keyframes colorAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.movingBackground {
  background: linear-gradient(90deg, rgb(134, 134, 134), #395364);
  background-size: 200% 100%;
  animation: colorAnimation 2s infinite; /* Adjust the duration as needed */
}
